#signUp{
    width: 30%;
    height: auto;
    margin: auto;
    /* border: 1px solid red; */
    padding: 20px;
   
    margin-top: 50px;
    padding-bottom: 3%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
   }
#signUp>h1{
    text-align: center;
  
}
form>.fnt{
    font-size: 20px;
    margin: 15px;
}
form>div>input{
    padding: 15px;
    width: 91%;
    border-radius: 5px;
    border-color: #8080802e;
    color: #0a0a0af2;
}
form>div{
    
    margin: 15px;
}
.sm{
    padding: 10px;
    font-size: 15px;
    margin: auto;
    text-align: center;
}

#Sgnup{
    margin: auto;
    text-align: center;
}

#Sgnup>button{
    width: 92%;
    padding: 15px;
    margin-top: 25px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(14 135 255 / 96%);
    color: white;
}
#signin{

    text-align: center;
}
#signin>a{
    text-decoration: none;
    color: blue;
}
.logo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 15px; */
    /* /* margin-left: 13px; */
    margin-top: 50px;
    margin-bottom: 0;
}
.logo>span:nth-child(2){
    margin-right: 30px; 
    color: #666;
}
.logo>span:nth-child(2)>a{
    text-decoration: none;
}
.logo>span:nth-child(1){
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold; 

}
.login_check {
    margin-left: 17px;
    display: inline-block;
}
.login_check span.padd_4 {
    padding: 0 4px;
    width: 332px;
}
.login_check span {
    font-size: 13px;
    color: rgb(10, 9, 9);
    display: inline-block;
    vertical-align: top;
    padding: 0 8px;
}

.logo_top {
    width: 100%;
    height: 120px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
    background-image: linear-gradient(to bottom, #318FFB, #06f);
    text-align: center;
}
.logo_top .logo_img {
    width: 188px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 36px;
    margin-left: -100px;
    z-index: 2;
    text-indent: -999px;
    background: url("https://content1.geekbuying.com/V1.4/en/images/indexV7/Geekbuying.png") no-repeat center;
    background-size: 100%;
}

.login_foot {
    text-align: center;
    width: 100%;
    margin-top: 36px;
}
